@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
.dataTables_filter {
  float: right;
}

.select2-container {
  width: 100% !important;
}

.schedule-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.schedule-box {
  min-width: 280px;
  padding: 20px;
  margin: 10px;
  background: #c9cccf;
}
